<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Comentarios</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss();">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form (ngSubmit)="newComment()" [formGroup]="commentForm">
        <ion-item>
          <ion-label position="floating">Escribir comentario:</ion-label>
          <ion-textarea formControlName="comment"></ion-textarea>
        </ion-item>
        <div class="ion-text-end" *ngIf="form_sent && commentForm.controls.comment.invalid">
          <ion-text color="danger">El comentario no puede ser vacio.</ion-text>
        </div>
        <ion-button type="submit" fill="outline" color="medium">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </form>  
    </ion-card-content>
  </ion-card>
  <ion-list *ngIf="comments.length > 0">
    <ion-list-header>
      Comentarios
    </ion-list-header>
    <ion-card *ngFor="let comment of comments">
      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-col>
                <ion-label>{{comment.desc_comment}}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-label>
                <ion-text color="secondary">
                  > {{comment.user_name}}
                </ion-text>
              </ion-label>
            </ion-row>
            <ion-row>
              <ion-label>{{comment.created_at | date: 'fullDate'}}</ion-label>
            </ion-row>
          </ion-col>
          <ion-col size="2">
            <ion-button color="danger" fill="outline" (click)="delete_comment(comment.id)"><ion-icon name="trash-outline"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
