<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-button *ngIf="project" (click)="delete_project(id_project);">
        <ion-icon color="danger"  name="trash-outline" size="larger"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{title_modal}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss();">
        <ion-icon slot="end" name="close" size="larger" class="ion-padding"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-align-self-center">
    <form (ngSubmit)="createOrUpdate()" [formGroup]="projectForm">
      <!-- input -->
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" formControlName="name_project"></ion-input>
        <div class="ion-text-end" *ngIf="form_sent && projectForm.controls.name_project.invalid">
          <ion-text color="danger" *ngIf="projectForm.controls.name_project.errors.maxlength">Este nombre excede el número de carácteres posible.</ion-text>
        </div>
      </ion-item>
      <ion-button expand="block" type="submit" color="tertiary" class="ion-margin">{{button_txt}}</ion-button>
      </form>
  </ion-card>
</ion-content>
