<ion-content fullscreen>
    <div class="container">
        <ion-row class="row">
            <ion-col>
                <ion-card>
                    <form (ngSubmit)="do_login();" [formGroup]="loginForm">
                        <ion-card-content>
                            <ion-item>
                                <ion-label>Username:</ion-label>
                                <ion-input name="username" formControlName="username"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label>Password:</ion-label>
                                <ion-input name="password" type="password" formControlName="password"></ion-input>
                            </ion-item>
                        </ion-card-content>
                        <ion-card-header>
                            <ion-button color="secondary" type="submit">Autenticar</ion-button>
                            <ion-button (click)="register()" color="secondary">Registrar</ion-button>
                        </ion-card-header>
                    </form>
                </ion-card>
            </ion-col>
        </ion-row>
    </div>
</ion-content>

