<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-button *ngIf="note" (click)="delete_note(id_task);">
        <ion-icon color="danger"  name="trash-outline" size="larger"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{title_modal}} Tarea</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss();">
        <ion-icon slot="end" name="close" size="larger" class="ion-padding"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-align-self-center">
    <form (ngSubmit)="createOrUpdate()" [formGroup]="noteForm">
      <!-- input -->
      <ion-item>
        <ion-label position="floating">Titulo</ion-label>
        <ion-input type="text" formControlName="title_task"></ion-input>
      </ion-item>
      <div class="ion-text-end" *ngIf="form_sent && noteForm.controls.title_task.invalid">
        <ion-text color="danger">Titulo requerido.</ion-text>
      </div>
      <!-- input -->
      <ion-item>
        <ion-textarea type="text" formControlName="desc_task" placeholder="Descripción"></ion-textarea>
      </ion-item>
      <div class="ion-text-end" *ngIf="form_sent && noteForm.controls.desc_task.invalid">
        <ion-text color="danger">Descripción requerida.</ion-text>
      </div>
      <!-- input -->
      <ion-item lines="none">
         <ion-icon name="calendar-outline"slot="start"></ion-icon>
         <ion-label >Fecha limite</ion-label>
         <ion-datetime displayFormat="D MMM YYYY" formControlName="due_date_task"></ion-datetime>
       </ion-item>
      <!-- input -->
       <ion-item lines="none">
         <ion-label>Completado</ion-label>
         <ion-toggle slot="start"></ion-toggle>
        </ion-item>
       <ion-button expand="block" type="submit" color="tertiary" class="ion-margin">{{button_txt}}</ion-button>
      </form>
  </ion-card>
</ion-content>
