<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registrar</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss();">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size-sm="6" size-md="6" size-lg="12" size="12" color="primary"> 
      <ion-card>
        <form (ngSubmit)="register();" [formGroup]="registerForm">
          <ion-card-content>
              <!-- input -->
              <ion-item>
                <ion-label position="floating">Nombre:</ion-label>
                <ion-input type="text" formControlName="first_name"></ion-input>
              </ion-item>
              <div class="ion-text-end" *ngIf="form_sent && registerForm.controls.first_name.invalid">
                <ion-text color="danger">Nombre requerido.</ion-text>
              </div>
              <!-- input -->
              <ion-item>
                <ion-label position="floating">Apellido:</ion-label>
                <ion-input type="text" formControlName="last_name"></ion-input>
              </ion-item>
              <div class="ion-text-end" *ngIf="form_sent && registerForm.controls.last_name.invalid">
                <ion-text color="danger">Apellido requerido.</ion-text>
              </div>
              <!-- input -->
              <ion-item>
                <ion-label position="floating">Email:</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
              </ion-item>
              <div class="ion-text-end" *ngIf="form_sent && registerForm.controls.email.invalid">
                <ion-text color="danger">Email requerido.</ion-text>
              </div>
              <!-- input -->
              <ion-item>
                <ion-label position="floating">Contraseña:</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>
              <div class="ion-text-end" *ngIf="form_sent && registerForm.controls.password.invalid">
                <ion-text color="danger" *ngIf="registerForm.controls.password.errors.required">Contraseña requerida.</ion-text>
                <ion-text color="danger" *ngIf="registerForm.controls.password.errors.minlength">La contraseña debe tener al menos 8 carácteres.</ion-text>
              </div>
              <!-- input -->
              <ion-item>
                <ion-label position="floating">Nombre de usuario:</ion-label>
                <ion-input type="text" formControlName="username"></ion-input>
              </ion-item>
              <div class="ion-text-end" *ngIf="form_sent && registerForm.controls.username.invalid">
                <ion-text color="danger">Nombre de usuario requerido.</ion-text>
              </div>
          </ion-card-content>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-button expand="block" fill="outline" type="submit">Registrar</ion-button>
            </ion-col>
          </ion-row>
          </form>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
