<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Imágenes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss();">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="!imgPreview">
    <div  class="btn btn-success fileupload">
      <span>Subir</span>
      <ion-input #inputfile type="file" accept="image/*" class="upload" (change)="onFileSelected($event)"></ion-input>
    </div>
  </ion-item>
    <ion-card>
      <img *ngIf="imgPreview" [src]="imgPreview"/>
      <ion-button *ngIf="selectedFile" color="light" size="small" shape="round" class="overlay" (click)="removeImg()"><ion-icon name="close-outline"></ion-icon></ion-button>
      <ion-button *ngIf="selectedFile" expand="block" (click)="onUpload()">Agregar</ion-button>
    </ion-card>
  <ion-list>
    <ion-card *ngFor="let file of files">
      <ion-card-content>
        <ion-button color="light" size="small" shape="round" class="overlay" (click)="delete_file(file.id)"><ion-icon name="close-outline"></ion-icon></ion-button>
          <img [src]="cleanURL(file.file)" alt="">
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
