<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Imágenes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss();">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input #inputfile type="file" accept="image/*" (change)="onFileSelected($event)"></ion-input>
  </ion-item>
    <ion-card>
      <img *ngIf="imgPreview" [src]="imgPreview"/>
      <ion-button *ngIf="selectedFile" color="light" size="small" shape="round" class="overlay" (click)="removeImg()"><ion-icon name="close-outline"></ion-icon></ion-button>
      <ion-button *ngIf="selectedFile" expand="block" (click)="onUpload()">Agregar</ion-button>
    </ion-card>
  <ion-list>
    <ion-card *ngFor="let file of files">
      <ion-card-content>
        <ion-row>
          <img [src]="cleanURL(file.file)" alt="">
          <!--<embed -->
            <!--[src]="cleanURL(file.file)"-->
            <!-->-->
          <!--<iframe [src]='cleanURL(file.file)' frameborder="0"></iframe>-->
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
