<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Proyectos</ion-title>
     <ion-buttons slot="end">
       <ion-button (click)="new_project();">
         <ion-icon slot="icon-only" name="add"></ion-icon>
       </ion-button>
       <ion-button (click)="presentPopover($event)">
          <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6">
        <ion-button expand="block" fill="outline" *ngFor="let project of projects" (click)="goToPanel(project.id)">{{project.name_project}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="projects.length == 0">
    <ion-row>
      <ion-col>
        <ion-text color="secondary">
          <h1 class="ion-text-center">No hay proyectos aún</h1>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
