<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Proyectos</ion-title>
     <ion-buttons slot="end">
       <ion-button (click)="new_project();">
         <ion-icon slot="icon-only" name="add"></ion-icon>
       </ion-button>
       <ion-button (click)="presentPopover($event)">
          <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="9" size-sm="8" size-md="6" size-lg="6" size-xl="4">
        <div *ngFor="let project of projects">
          <ion-row>
            <ion-col size="10">
              <ion-button expand="block" fill="outline" (click)="goToPanel(project.id)">{{project.name_project}}</ion-button>
            </ion-col>
            <ion-col size="2">
              <ion-button color="tertiary" (click)="update_project(project)">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="projects.length == 0">
    <ion-row>
      <ion-col>
        <ion-text color="secondary">
          <h1 class="ion-text-center">No hay proyectos aún</h1>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
