.cdk-drag-preview {
  background: rgb(241, 219, 147);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

ion-list{

  div{
    min-height: 100px;
    border: solid 1px #ccc;
    border-radius: 4px;
  }
}

ion-card {
    &-title {
        font-size:20px;
    }
    .hide {
      /* Extra small devices (phones, 600px and down) */
      @media only screen and (max-width: 620px) {
        display: none; 
      }
    }
}

