ion-content{
  --background : #F0F4FD;

  p{
   font-weight: 300;
  }
}
.container {
    height:100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.row { 
  display: flex;
  align-content: center;
}
