<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button 
        text="" >
      </ion-back-button>
    </ion-buttons>
    <ion-title>Notas</ion-title>
     <ion-buttons slot="end">
       <ion-button (click)="new_note()">
       </ion-button>
         <ion-button (click)="manage_users()">
            <ion-icon slot="icon-only" name="people-outline"></ion-icon>
          </ion-button>
         <ion-button (click)="presentPopover($event)">
            <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
          </ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-row class="ion-justify-content-center">
    <ion-col size-xs="12" size-sm="12" size-md="10" size-lg="8" size-xl="8">
      <ion-row>
        <ion-col size="6">
          <ion-list
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[doneList]"
            (cdkDropListDropped)="drop($event)">
             <ion-list-header>
                <ion-label>Pendientes</ion-label>
                <ion-button (click)="new_note()">
                  <ion-icon name="add" color="dark"></ion-icon>
                </ion-button>
              </ion-list-header>
              <div>
                <ion-card *ngFor="let note of todo" cdkDrag>
                  <ion-card-header  *ngIf="note.title_task">
                    <ion-card-title>{{note.title_task}}</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    {{note.desc_task}}
                      <ion-row>
                        <ion-button fill="outline" shape="round" size="small" (click)="assign_user(note)">
                            <ion-icon name="person-outline"></ion-icon>
                          </ion-button>
                          <ion-button fill="outline" shape="round" size="small" (click)="update_note(note)">
                            <ion-icon name="create-outline"></ion-icon>
                          </ion-button>
                          <ion-button fill="outline" shape="round" size="small" (click)="manage_comments(note)">
                            <ion-icon name="chatbox-outline"></ion-icon>
                          </ion-button>
                      </ion-row>
                  </ion-card-content>
                </ion-card>
              </div>
              <ion-button (click)="new_note()" expand="block" fill="outline">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-list>
        </ion-col>
        <ion-col size="6">
          <ion-list
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList]"
            (cdkDropListDropped)="drop($event)">
             <ion-list-header>
                <ion-label>Finalizadas</ion-label>
                <ion-button (click)="new_note_completed()">
                  <ion-icon name="add" color="dark"></ion-icon>
                </ion-button>
              </ion-list-header>
              <div>
                <ion-card *ngFor="let note of done" cdkDrag>
                  <ion-card-header  *ngIf="note.title_task">
                    <ion-card-title>{{note.title_task}}</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    {{note.desc_task}}
                      <ion-row>
                        <ion-button fill="outline" shape="round" size="small" (click)="assign_user(note)">
                            <ion-icon name="person-outline"></ion-icon>
                          </ion-button>
                          <ion-button fill="outline" shape="round" size="small" (click)="update_note(note)">
                            <ion-icon name="create-outline"></ion-icon>
                          </ion-button>
                          <ion-button fill="outline" shape="round" size="small" (click)="manage_comments(note)">
                            <ion-icon name="chatbox-outline"></ion-icon>
                          </ion-button>
                      </ion-row>
                  </ion-card-content>
                </ion-card>
              </div>
              <ion-button (click)="new_note_completed()" expand="block" fill="outline">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
